.loginDesign{
    height: 89.5vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    background-image: url(../../img/Background.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.contentLogin{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    border: 2px solid rgb(255 255 255 / 55%);
    background-color: rgbargb(255 255 255 / 70%);
    border-radius: 1.1em;
    background-color: rgba(255, 255, 255, 0.405);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.125);
    height: 35em;
    width: 29em;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
}

.loginButton{
    display: flex;
    height: 2.4em;
    width: 21em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
}

.elementsLogin{
    display: flex;
    width: 17em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    gap: 1.2em;
    align-items: stretch;
}

.titleLogin {
    font-size: 1.8em;
    margin-bottom: 0.3em;
}

.registerAccount{
    display: flex;
    height: 5em;
    width: 21em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    gap:0.8em;
}

