.activity {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 20.5em;
    height: 32em;
    background-color: whitesmoke;
    border: 0.13em solid white;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.imgActivity {
    height: 15em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.activity img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.activity h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #055272;

}

.activity p {
    font-size: 1em;
    display: contents;
    color: #1F2628;
}
.buttonActivity.MuiButton-outlinedPrimary:focus {
    outline: none;
}

.buttonActivity {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px !important;
    transition: 0.2s;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(89.58deg, rgba(210, 202, 48, .9) .01%, rgba(222, 137, 33, 0.9) 99.94%) !important;
    color: #055272;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: 3.4em;
    outline: none;

}

.buttonActivity:hover{
    transition: 0.2s;
    outline: none;
    cursor: pointer;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.buttonActivity:focus, .buttonActivity:active {
    outline: none; 
}

.activity .price {
    background-color: orange;
    color: white;
    padding: 0.625em;
    height: 1.25em;
    width: 2em;
}

.activity .icons img {
    width: 3em;
    height: 3em;
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    height: 3.8em;
    width: 20.5em;
    background: #055272;
}

.titleCustomActivity{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.headerActivity{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.contentActivity{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 14em;
    margin: 1.2em;
    margin-bottom: -1.2em;
}

.descriptionCustomActivity{
    height: 5em;
}

.priceCustomActivity{
    color:white
}